<div class="container">
    
    
    <div class="wrapper_outside">
        <div class="app_title">
            <h1>Work progress</h1>
        </div>
        <div class="corporation_name">
            <h2>馬場電気株式会社</h2>
        </div>
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="/">Home</a></li>
          <li role="presentation"><a href="#">出勤</a></li>
          <li role="presentation"><a href="#">現場</a></li>
          <li role="presentation"><a href="#">移動</a></li>
          <li role="presentation"><a href="#">休憩</a></li>
          <li role="presentation"><a href="#">日報</a></li>
          <li role="presentation"><a href="#">退勤</a></li>
          <li role="presentation"><a href="#">予定</a></li>
        </ul>
        <div class="corporation_name">
            <ol class="breadcrumb">
              <li><a href="/">Home</a></li>
              <!--<li><a href="#">各種データベース一覧</a></li>-->
              <li class="active">各種データベース一覧</li>
            </ol>
        </div>
        <div class="wrapper1">
            <div class="space_admin_1">
                <a href="#" class="sample_admin_1">現場情報データベース</a>
            </div>
            <div class="space_admin_2">
                <a href="/adminemployee" class="sample_admin_1">社員データベース</a>
            </div>
            <div class="space_admin_3">
                <a href="#" class="sample_admin_1">在庫情報データベース</a>
            </div>
        </div>
    </div>
</div>