<div class="container">
    <div class="wrapper_outside">
        <div class="app_title">
            <h1>Work progress</h1>
        </div>
        <div class="corporation_name">
            <h2>馬場電気株式会社</h2>
        </div>
        <div class="corporation_name">
            <ol class="breadcrumb">
              <!--<li><a href="/">Home</a></li>-->
              <!--<li><a href="#">Library</a></li>-->
              <li class="active">HOME</li>
            </ol>
        </div>
        <div class="wrapper1">
            <div class="space1-1">
                <a href="going_to_work" class="sample">出勤</a>
            </div>
            <div class="space1-2">
                <a href="fierd_work" class="sample">現場</a>
            </div>
            <div class="space1-3">
                <a href="move" class="sample">移動</a>
            </div>
            <div class="space1-4">
                <a href="#" class="sample">休憩</a>
            </div>
            <div class="space1-5">
                <a href="#" class="sample">日報</a>
            </div>
            <div class="space1-6">
                <a href="#" class="sample">退勤</a>
            </div>
        </div>
        
        <div class="wrapper2">
            <div class="space2-1">
                <a href="#" class="sample2">予定</a>
            </div>
            <div class="space2-2">
                <a href="/admin" class="sample2">管理者</a>
            </div>
        </div>
        
    </div>
</div>